body { margin: 0px; }

.container {
/*    transform: scale(1);*/
    position: relative;
    width: 750px;
    height: 924px;
    background-color: #f5f5f5;
    margin: 0px auto 0px auto;
}
.container a {
    position: absolute;
    background-size: 100% 100%;
}
.container div {
    position: absolute;
    background-size: 100% 100%;
}

    

.shape1 {
    left: 75px;
    top: 66px;
    width: 300px;
    height: 198px;
    background-image: url(images/image_1.png);
    clip-path: polygon(0px 198px, 112px 0px, 150px 66px, 225px 66px, 300px 198px);
}

.shape2 {
    left: 150px;
    top: 0px;
    width: 225px;
    height: 132px;
    background-image: url(images/image_2.png);
    clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 75px 132px);
}

.shape3 {
    left: 375px;
    top: 0px;
    width: 150px;
    height: 132px;
    background-image: url(images/image_3.png);
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}

.shape4 {
    left: 487.5px;
    top: 66px;
    width: 225px;
    height: 132px;
    background-color: cyan;
    clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px);
}


.shape5 {
    left: 525px;
    top: 0px;
    width: 225px;
    height: 132px;
    background-color: green;
    clip-path: polygon(0px 132px, 75px 0px, 225px 0px, 150px 132px);
}


.shape6 {
    left: 0px;
    top: 132px;
    width: 150px;
    height: 132px;
    background-color: purple;
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}


.shape7 {
    left: 300px;
    top: 132px;
    width: 150px;
    height: 132px;
    background-color: gold;
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}


.shape8 {
    left: 375px;
    top: 132px;
    width: 150px;
    height: 132px;
    background-color: red;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}

.shape9 {
    left: 450px;
    top: 132px;
    width: 225px;
    height: 132px;
    background-color: navy;
    clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 75px 132px);
}

.shape10 {
    left: 600px;
    top: 132px;
    width: 150px;
    height: 132px;
    background-image: url(images/image_10.png);
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}


.shape11 {
    left: 37.5px;
    top: 264px;
    width: 75px;
    height: 66px;
    background-color: black;
    clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px);
}

.shape12 {
    left: 0px;
    top: 330px;
    width: 75px;
    height: 66px;
    background-color: black;
    clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px);
}

.shape13 {
    left: 75px;
    top: 330px;
    width: 75px;
    height: 66px;
    background-color: black;
    clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px);
}

.shape14 {
    left: 37.5px;
    top: 330px;
    width: 75px;
    height: 66px;
    background-color: cyan;
    clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px);
}

.shape15 {
    left: 75px;
    top: 264px;
    width: 150px;
    height: 132px;
    background-color: purple;
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}
.shape16 {
    left: 150px;
    top: 330px;
    width: 75px;
    height: 66px;
    background-image: url(images/image_16.png);
    clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px);
}


.shape17 {
    left: 187.5px;
    top: 264px;
    width: 187.5px;
    height: 132px;
    background-color: gray;
    clip-path: polygon(0px 66px, 37.5px 0px, 187.5px 0px, 112.5px 132px, 37.5px 132px);
}

.shape18 {
    left: 300px;
    top: 264px;
    width: 150px;
    height: 264px;
    background-image: url(images/image_18.png);
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px, 75px 264px);
}

.shape19 {
    left: 375px;
    top: 264px;
    width: 150px;
    height: 132px;
    background-color: gold;
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}

.shape20 {
    left: 450px;
    top: 264px;
    width: 225px;
    height: 264px;
    background-image: url(images/image_20.png);
    clip-path: polygon(75px 0px, 225px 0px, 150px 132px, 225px 264px, 75px 264px, 0px 132px)
}

.shape21 {
    left: 600px;
    top: 396px;
    width: 150px;
    height: 132px;
    background-color: plum;
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}

.shape22 {
    left: 0px;
    top: 396px;
    width: 375px;
    height: 132px;
    background-color: navy;
    clip-path: polygon(0px 0px, 300px 0px, 375px 132px, 75px 132px);
}

.shape23 {
    left: 0px;
    top: 528px;
    width: 150px;
    height: 264px;
    background-color: orange;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px, 75px 264px);
}

.shape24 {
    left: 75px;
    top: 528px;
    width: 75px;
    height: 66px;
    background-color: cyan;
    clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px);
}


.shape25 {
    left: 112.5px;
    top: 528px;
    width: 75px;
    height: 66px;
    background-color: black;
    clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px);
}


.shape26 {
    left: 150px;
    top: 528px;
    width: 75px;
    height: 66px;
    background-color: cyan;
    clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px);
}

.shape27 {
    left: 112.5px;
    top: 594px;
    width: 75px;
    height: 66px;
    background-color: cyan;
    clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px);
}


.shape28 {
    left: 75px;
    top: 528px;
    width: 225px;
    height: 396px;
    background-color: brown;
    clip-path: polygon(150px 0px, 225px 132px, 75px 396px, 0px 264px);
}

.shape29 {
    left: 0px;
    top: 792px;
    width: 150px;
    height: 132px;
    background-color: red;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}

.shape30 {
    left: 225px;
    top: 792px;
    width: 225px;
    height: 132px;
    background-color: navy;
    clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 75px 132px);
}


.shape31 {
    left: 525px;
    top: 660px;
    width: 150px;
    height: 132px;
    background-image: url(images/image_31.png);
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}


.shape32 {
    left: 450px;
    top: 792px;
    width: 150px;
    height: 132px;
    background-image: url(images/image_32.png);
    background-size: 150px 132px;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}

.shape33 {
    left: 600px;
    top: 792px;
    width: 150px;
    height: 132px;
    background-image: url(images/image_33.png);
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}





.shape34 {
    left: 450px;
    top: 528px;
    width: 150px;
    height: 264px;
    background-color: brown;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px, 75px 264px);
}

.shape35 {
    left: 525px;
    top: 792px;
    width: 150px;
    height: 132px;
    background-color: plum;
    clip-path: polygon(0px 0px, 150px 0px, 75px 132px);
}

.shape36 {
    left: 225px;
    top: 396px;
    width: 300px;
    height: 396px;
    background-color: deeppink;
    clip-path: polygon(225px 0px, 300px 132px, 225px 264px, 300px 396px, 0px 396px, 75px 264px, 0px 132px, 150px 132px);
}

.shape37 {
    left: 675px;
    top: 462px;
    width: 75px;
    height: 132px;
    background-color: peachpuff;
    clip-path: polygon(37.5px 0px, 0px 66px, 37.5px 132px, 75px 66px);
}



.shape38 {
    left: 525px;
    top: 528px;
    width: 225px;
    height: 264px;
    background-color: aquamarine;
    clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 150px 264px);
}


.shape39 {
    left: 187.5px;
    top: 858px;
    width: 75px;
    height: 66px;
    background-color: dodgerblue;
    clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px);
}







.container-test {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #f5f5f5;
    margin: 0px auto 0px auto;
}
.container-test div {
    position: absolute;
}

.container-nsfwlink {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding:5em 3em;
}

.shape-a {
    left: 75px;
    top: 0px;
    width: 150px;
    height: 132px;
    background-color: red;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}

.shape-b {
    left: 0px;
    top: 132px;
    width: 150px;
    height: 132px;
    background-color: red;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}


.shape-c {
    left: 150px;
    top: 132px;
    width: 150px;
    height: 132px;
    background-color: red;
    clip-path: polygon(0px 132px, 75px 0px, 150px 132px);
}







* {
  margin:0;
  padding:0;
  font-family:"Helvetica Neue", Helvetica, Sans-serif;
  word-spacing:-2px;
}

.message {
background:#181818;
color:#FFF;
position: absolute;
top: 264px;
left: 0px;
width: 300px;
height: 250px;
padding: 20px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
  
}

.message h1 {
  color:#FFF;
}

/* move toggle off screen */
#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}


/*
#toggle + label {
  position:absolute;
  cursor:pointer;
  padding:10px;
  background: #26ae90;
width: 100px;
border-radius: 3px;
padding: 8px 10px;
color: #FFF;
line-height:20px;
font-size:12px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:20px 50px;
  transition:all 500ms ease;
}
*/
#toggle + label:after {
  content:"Open" 
}



#toggle:checked ~ .message {
  top: 0;
}
/*
#toggle:checked ~ .container-nsfwlink {
  margin-top: 250px;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close"
}

*/