body {
  margin: 0px;
  background-color: #191919; }

p {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 13px;
  height: 13px;
  position: absolute;
  background-color: #000;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 13px;
  display: none; }

.container {
  position: relative;
  width: 750px;
  height: 924px;
  margin: 50px auto 0px auto; }
  .container a, .container div {
    position: absolute;
    background-size: 100% 100%; }

.columns, .rows {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%; }
  .columns p, .rows p {
    top: -27px;
    left: -27px; }

.rows div {
  width: 100%;
  border-bottom: 1px solid #fff; }

.columns div {
  height: 100%;
  border-right: 1px solid #fff; }

.rows div:nth-child(1) {
  height: 66px; }
  .rows div:nth-child(1) p {
    top: 52px;
    display: initial; }

.rows div:nth-child(2) {
  height: 132px; }
  .rows div:nth-child(2) p {
    top: 118px;
    display: initial; }

.rows div:nth-child(3) {
  height: 198px; }
  .rows div:nth-child(3) p {
    top: 184px;
    display: initial; }

.rows div:nth-child(4) {
  height: 264px; }
  .rows div:nth-child(4) p {
    top: 250px;
    display: initial; }

.rows div:nth-child(5) {
  height: 330px; }
  .rows div:nth-child(5) p {
    top: 316px;
    display: initial; }

.rows div:nth-child(6) {
  height: 396px; }
  .rows div:nth-child(6) p {
    top: 382px;
    display: initial; }

.rows div:nth-child(7) {
  height: 462px; }
  .rows div:nth-child(7) p {
    top: 448px;
    display: initial; }

.rows div:nth-child(8) {
  height: 528px; }
  .rows div:nth-child(8) p {
    top: 514px;
    display: initial; }

.rows div:nth-child(9) {
  height: 594px; }
  .rows div:nth-child(9) p {
    top: 580px;
    display: initial; }

.rows div:nth-child(10) {
  height: 660px; }
  .rows div:nth-child(10) p {
    top: 646px;
    display: initial; }

.rows div:nth-child(11) {
  height: 726px; }
  .rows div:nth-child(11) p {
    top: 712px;
    display: initial; }

.rows div:nth-child(12) {
  height: 792px; }
  .rows div:nth-child(12) p {
    top: 778px;
    display: initial; }

.rows div:nth-child(13) {
  height: 858px; }
  .rows div:nth-child(13) p {
    top: 844px;
    display: initial; }

.rows div:nth-child(14) {
  height: 924px; }
  .rows div:nth-child(14) p {
    top: 910px;
    display: initial; }

.columns div:nth-child(1) {
  width: 75px; }
  .columns div:nth-child(1) p {
    left: 61px;
    display: initial; }

.columns div:nth-child(2) {
  width: 150px; }
  .columns div:nth-child(2) p {
    left: 136px;
    display: initial; }

.columns div:nth-child(3) {
  width: 225px; }
  .columns div:nth-child(3) p {
    left: 211px;
    display: initial; }

.columns div:nth-child(4) {
  width: 300px; }
  .columns div:nth-child(4) p {
    left: 286px;
    display: initial; }

.columns div:nth-child(5) {
  width: 375px; }
  .columns div:nth-child(5) p {
    left: 361px;
    display: initial; }

.columns div:nth-child(6) {
  width: 450px; }
  .columns div:nth-child(6) p {
    left: 436px;
    display: initial; }

.columns div:nth-child(7) {
  width: 525px; }
  .columns div:nth-child(7) p {
    left: 511px;
    display: initial; }

.columns div:nth-child(8) {
  width: 600px; }
  .columns div:nth-child(8) p {
    left: 586px;
    display: initial; }

.columns div:nth-child(9) {
  width: 675px; }
  .columns div:nth-child(9) p {
    left: 661px;
    display: initial; }

.columns div:nth-child(10) {
  width: 750px; }
  .columns div:nth-child(10) p {
    left: 736px;
    display: initial; }

.shape1 {
  left: 75px;
  top: 66px;
  width: 300px;
  height: 198px;
  background-image: url("../images/image_1.png");
  clip-path: polygon(0px 198px, 112.5px 0px, 150px 66px, 225px 66px, 300px 198px); }

.shape2 {
  left: 150px;
  top: 0px;
  width: 225px;
  height: 132px;
  background-image: url("../images/image_2.png");
  clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 75px 132px); }

.shape3 {
  left: 375px;
  top: 0px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_3.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px); }

.shape4 {
  left: 487.5px;
  top: 66px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_4.png");
  clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px); }

.shape5 {
  left: 525px;
  top: 0px;
  width: 225px;
  height: 132px;
  background-image: url("../images/image_5.png");
  clip-path: polygon(0px 132px, 75px 0px, 225px 0px, 150px 132px); }

.shape6 {
  left: 0px;
  top: 132px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_6.png");
  clip-path: polygon(0px 0px, 150px 0px, 75px 132px); }

.shape7 {
  left: 300px;
  top: 132px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_7.png");
  clip-path: polygon(0px 0px, 150px 0px, 75px 132px); }

.shape8 {
  left: 375px;
  top: 132px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_8.png");
  clip-path: polygon(0px 0px, 0px 132px, 150px 132px, 150px 0px);
  z-index: 2; }

.shape9 {
  left: 450px;
  top: 132px;
  width: 225px;
  height: 132px;
  background-image: url("../images/image_9.png");
  clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 75px 132px); }

.shape10 {
  left: 600px;
  top: 132px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_10.png");
  clip-path: polygon(0px 0px, 150px 0px, 75px 132px); }

.shape11 {
  left: 37.5px;
  top: 264px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_11.png");
  clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px); }

.shape12 {
  left: 0px;
  top: 330px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_12.png");
  clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px); }

.shape13 {
  left: 75px;
  top: 330px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_13.png");
  clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px); }

.shape14 {
  left: 37.5px;
  top: 330px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_14.png");
  clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px); }

.shape15 {
  left: 75px;
  top: 264px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_15.png");
  clip-path: polygon(0px 0px, 150px 0px, 75px 132px); }

.shape16 {
  left: 150px;
  top: 330px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_16.png");
  clip-path: polygon(0px 66px, 37.5px 0px, 75px 66px); }

.shape17 {
  left: 187.5px;
  top: 264px;
  width: 187.5px;
  height: 132px;
  background-image: url("../images/image_17.png");
  clip-path: polygon(0px 66px, 37.5px 0px, 187.5px 0px, 112.5px 132px, 37.5px 132px); }

.shape18 {
  left: 300px;
  top: 264px;
  width: 150px;
  height: 264px;
  background-image: url("../images/image_18.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px, 75px 264px); }

.shape19 {
  left: 375px;
  top: 264px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_19.png");
  clip-path: polygon(0px 0px, 150px 0px, 75px 132px); }

.shape20 {
  left: 450px;
  top: 264px;
  width: 225px;
  height: 264px;
  background-image: url("../images/image_20.png");
  clip-path: polygon(75px 0px, 225px 0px, 150px 132px, 225px 264px, 75px 264px, 0px 132px);
  z-index: 3; }

.shape21 {
  left: 600px;
  top: 330px;
  width: 150px;
  height: 198px;
  background-image: url("../images/image_21.png");
  clip-path: polygon(0px 0px, 150px 0px, 150px 66px, 75px 198px, 0px 66px);
  z-index: 1; }

.shape22 {
  left: 0px;
  top: 396px;
  width: 375px;
  height: 198px;
  background-image: url("../images/image_22.png");
  clip-path: polygon(0px 0px, 300px 0px, 375px 132px, 375px 198px, 187.5px 198px, 187.5px 132px, 75px 132px);
  z-index: 1; }

.shape23 {
  left: 0px;
  top: 528px;
  width: 150px;
  height: 264px;
  background-image: url("../images/image_23.png");
  clip-path: polygon(0px 0px, 0px 264px, 75px 264px, 150px 132px, 75px 0px); }

.shape24 {
  left: 75px;
  top: 528px;
  width: 112.5px;
  height: 66px;
  background-image: url("../images/image_24.png");
  clip-path: polygon(0px 0px, 37.5px 66px, 112.5px 66px, 75px 0px); }

.shape25 {
  left: 225px;
  top: 660px;
  width: 150px;
  height: 198px;
  background-image: url("../images/image_25.png");
  clip-path: polygon(0px 0px, 150px 0px, 150px 198px, 0px 198px);
  z-index: 1; }

.shape26 {
  left: 150px;
  top: 528px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_26.png");
  clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px); }

.shape27 {
  left: 112.5px;
  top: 594px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_27.png");
  clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px); }

.shape28 {
  left: 75px;
  top: 528px;
  width: 225px;
  height: 396px;
  background-image: url("../images/image_28.png");
  clip-path: polygon(150px 0px, 225px 132px, 75px 396px, 0px 264px); }

.shape29 {
  left: 0px;
  top: 792px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_29.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px); }

.shape30 {
  left: 225px;
  top: 792px;
  width: 225px;
  height: 132px;
  background-image: url("../images/image_30.png");
  clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 75px 132px); }

.shape31 {
  left: 525px;
  top: 660px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_31.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px); }

.shape32 {
  left: 450px;
  top: 792px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_32.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px); }

.shape33 {
  left: 600px;
  top: 792px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_33.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px); }

.shape34 {
  left: 450px;
  top: 528px;
  width: 150px;
  height: 264px;
  background-image: url("../images/image_34.png");
  clip-path: polygon(0px 132px, 75px 0px, 150px 132px, 75px 264px);
  z-index: 3; }

.shape35 {
  left: 525px;
  top: 792px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_35.png");
  clip-path: polygon(0px 0px, 150px 0px, 75px 132px); }

.shape36 {
  left: 225px;
  top: 396px;
  width: 300px;
  height: 396px;
  background-image: url("../images/image_36.png");
  clip-path: polygon(225px 0px, 300px 132px, 225px 264px, 300px 396px, 0px 396px, 75px 264px, 0px 132px, 150px 132px); }

.shape37 {
  left: 675px;
  top: 462px;
  width: 150px;
  height: 132px;
  background-image: url("../images/image_37.png");
  clip-path: polygon(37.5px 0px, 0px 66px, 37.5px 132px, 75px 66px, 150px 66px, 150px 0px); }

.shape38 {
  left: 525px;
  top: 528px;
  width: 225px;
  height: 264px;
  background-image: url("../images/image_38.png");
  clip-path: polygon(0px 0px, 150px 0px, 225px 132px, 150px 264px); }

.shape39 {
  left: 187.5px;
  top: 858px;
  width: 75px;
  height: 66px;
  background-image: url("../images/image_39.png");
  clip-path: polygon(0px 0px, 37.5px 66px, 75px 0px); }

.shape40 {
  left: 225px;
  top: 396px;
  width: 300px;
  height: 396px;
  background-image: url("../images/image_40.png");
  clip-path: polygon(0px 0px, 300px 0px, 300px 396px, 0px 396px);
  z-index: 2; }

/*# sourceMappingURL=style.css.map */
